{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Informe</title>
    <link rel="stylesheet" href="{% static 'css/css-inicio-informe.css' %}">
</head>
<body>
    
    <header class="encabezado">
        <div class="menu">
            
            <div class="logo">
                <img src="C:\Users\mirla\Desktop\curso_web\css\furmulario\youtube_profile_image.png" alt="">
            </div>

            <nav>
                <ul>
                    <li>
                        <a href=".\incio.html" >Inicio</a>
                    </li>
                    <li>
                        <a href=".\inicio-informe.html" class="active">Informes</a>
                    </li>
                    <li>
                        <a href=".\inicio-usuario.html">Usuarios</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    
    <section class="container-sect">
        
        <header>
            <h1>Bienvenido al módulo Informe</h1>
            <p>Esto prodrás hacer en este modulo:</p>
         </header>

        <div class="container">
        
            <div class="card">

                <div class="box-card">
                    <div class="box-left"></div>
                    <div class="box-right">
                        <h2>Emitir Informes</h2>
                        
                    
                        <a href="./registrar.html">Ir</a>
                    </div>
                </div>
            </div>





            <div class="card">

                <div class="box-card">
                    <div class="box-left"></div>
                    <div class="box-right">
                        <h2>Actualizar Informe</h2>
                    
                        <a href=".\actualizar-informe.html">Ir</a>
                    </div>
                </div>
            </div>

            <div class="card">

                <div class="box-card">
                    <div class="box-left"></div>
                    <div class="box-right">
                        <h2>Firmar Informe</h2>
                    
                        <a href=".\firmar-informe.html">Ir</a>
                    </div>
                </div>
            </div>


            <div class="card">

                <div class="box-card">
                    <div class="box-left"></div>
                    <div class="box-right">
                        <h2>Anular Informe</h2>
                    
                        <a href=".\anular-informe.html">Ir</a>
                    </div>
                </div>
            </div>

            <div class="card">

                <div class="box-card">
                    <div class="box-left"></div>
                    <div class="box-right">
                        <h2>Buscar informes</h2>
                    
                        <a href=".\busca-informe.html">Ir</a>
                    </div>
                </div>
            </div>
            

        </div>

        
        
    </section>

    <div class="pie-pagina">
        <div class="pie">

            <nav class="nav-right">
                <ul class="ul-pie">
                    <li>
                        <a href="">©Copyright SignAppFast
                        </a>
                        <span>|</span>
                        <a href="">Documentación SignAppFast
                        </a>
                    </li>
                   
                </ul>
            </nav>

            <nav class="nav-izq">
                <ul class="ul-pie">
                
                    <li>
                        <a href="">Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>