{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'css/css-inicio.css' %}">
</head>
<body>
    
    <header class="encabezado">
        <div class="menu">
            
            <div class="logo">
                <img src="C:\Users\mirla\Desktop\curso_web\css\furmulario\youtube_profile_image.png" alt="">
            </div>

            <nav>
                <ul>
                    <li>
                        <a href="" class="active">Inicio</a>
                    </li>
                    <li>
                        <a href={% url 'inicio-informe' %}>Informes</a>
                    </li>
                    <li>
                        <a href="">Usuarios</a>
                    </li>
                   {% if request.user.is_authenticated %}
                        <li>
                            <a href={% url 'iniciarSesion' %}>Cerrar sesion</a> 
                        </li>
                    {% else %}
                        <li>
                            <a href={% url 'iniciarSesion' %}><strong>Ingresar</strong></a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    
    <section class="container-sect">
        
        <header>Esto podrás realizar en cada módulo:</header>

        <div class="container">
        
            <div class="card">

                <div class="box-card">
                    <div class="box-left"></div>
                    <div class="box-right">
                        <h2>Emitir Informes</h2>
                        <p>Podrás emitir, buscar, firmar y anular informes</p>
                        <a href="./registrar.html">Ir</a>
                    </div>
                </div>
            </div>
            
            <div class="card">

                <div class="box-card">
                    <div class="box-left"></div>
                    <div class="box-right">
                        <h2>Administacion</h2>
                        <p>Podrás administrar las bases de datos.</p>
                        <a href="./registrar.html">Ir</a>
                    </div>
                </div>
            </div>


            <div class="card">

                <div class="box-card">
                    <div class="box-left"></div>
                    <div class="box-right">
                        <h2>Usuarios</h2>
                        <p>Podrás crear, actualizar y eliminar usuarios.</p>
                        <a href="./registrar.html">Ir</a>
                    </div>
                </div>
            </div>



        
        
    </section>

    <div class="pie-pagina">
        <div class="pie">

            <nav class="nav-right">
                <ul class="ul-pie">
                    <li>
                        <span>©Copyright SignAppFast </span>
                      
                        <span> |</span>
                        <a href="">Documentación SignAppFast
                        </a>
                    </li>
                   
                </ul>
            </nav>

            <nav class="nav-izq">
                <ul class="ul-pie">
                
                    <li>
                        <a href="">Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>